* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000;
}

/*--------------------------- Header - Upper Menu - Encabezado -----------------------------*/

